.c8rc
.DS_Store
.editorconfig
.eslintrc.cjs
.eslintrc.js
.github/
.jsdoc.conf
.nyc_output/
.vscode/
coverage/
data/*.csv
docs/
docs/
eslint.config.js
node_modules/
test/
TODO
tools/
tsconfig.json
tutorials/
.ncurc
